@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  background: linear-gradient(120deg, rgb(179, 214, 255) 0%, rgb(173, 170, 255) 25%, rgb(235, 168, 255) 50%, rgb(255, 175, 189) 75%, rgb(255, 181, 137) 100%);
}